<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head >
<body style= "font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="border: 2px solid rgb(70, 72, 176); padding: 10px; text-align: center;">
        <h1>Answers inc</h1>
    </div>
    
    <div style=" padding: 5px; margin: 5px;">
        <h2>Contact </h2>
    </div>
    <span>
        <form action="URL" method="post">
            <label for="first name">first name :</label> 
            <input style="margin:  5px;" type="text" id = "first name" name = "first name" required><br>
            <label for="last name">last name :</label>
            <input style="margin:  5px;" type="text" id = "full name" name = "last name" required><br>
            <label for="email">Email :</label>
            <input style="margin:  5px;" type="email" id = "email" name = "email"><br>
            <label for="free text">Free text :</label> <br>
            <input style="margin: 5px; width: 10cm ;height: 5cm;" type="text" id = "free text" name = "free text"><br>
            <label for="email">Are you happy :</label>
            <input style="margin:  5px;" type="checkbox" id="scales" name="scales"
            checked>
            <label style="margin:  5px;" for="scales">Yes</label><br>
            <input style="margin:  5px;" type="submit">
        </form>
    </span>
    
<ul>
<li><a href="home_page.html">back</a></li>

</ul>

</body>
</html>
