<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="border: 2px solid rgb(70, 72, 176); padding: 10px; text-align: center; ">
        <h1 >Answers inc</h1>
    </div>
    <div style="text-align:right; width:95%; padding: 10px ; margin:  10px;">
        <span style="float:left ; padding: 10px; margin:  10px;">
            <h2>Welcome to my website</h2>
        </span>
        <span style="padding: 10px; margin:  10px;"> <p>Today's Date: <span id="datetime"></span></p><script>var dt = new Date();
            document.getElementById("datetime").innerHTML=dt.toLocaleDateString();</script>
        </span>
    </div>
        
    <div style="margin:  10px;">
        <p>Here you can find the answer to all questions you have, but first insert your details </p>
    </div>
    
    <span>
        <img src="./static/Answer.jpg" style="padding: 10px; margin:  10px;" alt="">
    </span>

<ul>
<li><a href="contact.html">Enter your details</a></li>

</ul>

</body>
</html>
